* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, black, rgb(0, 0, 68));
    background-position: center;
}

.container  {
    padding-top: 100px;
    width: 60%;
    margin-left: 20%;
    height: 300px;
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: 900;
    color: rgb(140, 140, 255);
    margin-bottom: 50px;
}

.info {
    font-size: 20px;
    color: gray;
    margin-bottom: 50px;
}

.myx {
    font-size: 18px;
    color: rgb(199, 199, 199);
    margin-bottom: 8px;
}

.x {
    font-size: 22px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

.total {
    font-size: 22px;
    color: rgb(0, 255, 0);
    font-weight: 700;
    margin-bottom: 30px;
}

.home {
    margin-top: 50px;
    width: 25%;
    height: 60px;
    background: #0066ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 700;
    transition: 0.5s;
  }

  .home:hover {
    font-size: 20px;
    background: #2b80ff;
    width: 28%;
    height: 65px;
  }