<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
<footer>
<div class="footer">
<div class="row">
<a><i class="fa fa-facebook"></i></a>
<a><i class="fa fa-instagram"></i></a>
<a><i class="fa fa-twitter"></i></a>
</div>

<div class="row">
<ul>
<li><a>Creado por Yordi Azael Monreal Zazueta y Victor Francisco Rivera Soto</a></li>
</ul>
</div>

<div class="row">

</div>
</div>
</footer>
